* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log__form {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

h3 {
    margin-bottom: 10px;
}

.log__form label, button {
    display: block;
    margin-bottom: 5px;
}

.log__form input {
    margin-bottom: 10px;
    width: 150px;
    height: 24px;
}

.log__form input::placeholder {
    padding: 10px;
}

.btn {
    padding: 3px 10px;
    margin: 0 auto;
    cursor: pointer;
}

.error {
    margin-top: 20px;
    color: red;
    font-size: 18px;
}

.top {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content h2 {
    width: 20%;
    
}